.title1{
    background-color:black;
    text-align: center;
    color: white;
}
.forms{
    background-color: black;
    text-align: center;
}
.container{
    background-color: black;
    text-align: center;

}
main {
    text-align: center;
    width: 100%;
    margin: 0px 0;
}

form {
    display: inline-block;
    width: 1000px;
    text-align: center;
}

form label {
    display:block;
    font-size: 20px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
}